<mat-toolbar color="primary">
  <span>Project-Tool</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="login()">
    Login
  </button>
  <button mat-icon-button (click)="logout()">
   Logout
    </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Project-Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.project}}</mat-cell>
      </ng-container>

    <ng-container matColumnDef="summary">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Summary</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.summary}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="issue">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issue</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.issue}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Priority</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.priority}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="assigne">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Assigne-To</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.assigne}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="reporter">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Report-To</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.reporter}} </mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" (click)="addNew()">
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" (click)="startEdit(i, row.project, row.summary, row.issue, row.priority, row.assigne, row.reporter)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="deleteItem(i, row.project, row.summary, row.issue, row.priority, row.assigne, row.reporter)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
