<!-- <div>
  <h1>This city is {{ city }}</h1>
  <button (click)="click()">Click Me</button> <br />
  <h5>
    <div>Name: {{ company?.Name }}</div>
    <div>City: {{ company?.City }}</div>
    <div>State: {{ company?.State }}</div>
  </h5>
</div>
<h1>
  <div>
    {{ dob }} <br />
    Medium: {{ dob | date: "medium" | lowercase }} <br />
    specific format: {{ dob | date: "dd/mm/yyyy" }} <br />
    mediumTime : {{ dob | date: "mediumTime" }} <br />
    Fulldate: {{ dob | date: fullDate | uppercase }} <br />
    salary:- {{ salary | currency: "USD":true }}
  </div>
</h1> -->

<p [@myAwesomeAnimation] = 'State' (click)='animateMe()'> I Will Animate </p>




<h2>Template Driven approch for Radio Button</h2>

<form #form='ngForm' (ngSubmit)="onformSubmit(userform)">
  <table>
    <tr>
      <td>Name:</td>
      <td>
        <input
          name="uname"
          [(ngModel)]="user.username"
          required
          #uname="ngModel"
        />
        <div *ngIf="uname.invalid">Name Required.</div>
      </td>
    </tr>
    <tr>
      <td>Gender:</td>
      <input
        type="radio"
        value="male"
        name="gender"
        [(ngModel)]="user.gender"
        #gender="ngModel"
      />
      Male
      <input
        type="radio"
        value="female"
        name="gender"
        [(ngModel)]="user.gender"
        #gender="ngModel"
      />
      Female
      <div *ngIf="gender.invalid">Gender Required</div>
    </tr>
    <tr>
      <td>Are You Married</td>
      <td>
        <input type="checkbox" name="married" [(ngModel)]="user.isMarried" />
      </td>
    </tr>
    <tr>
      <td>Accept T&C</td>
      <td>
        <input
          type="checkbox"
          name="tc"
          [(ngModel)]="user.isTCAccepted"
          required
          #tc="ngModel"
        />
        <div *ngIf="tc.invalid">Accept T&C</div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit">Submit</button>
        <button type="button" (click)="setDefaultValues()">Set Default</button>
        <button type="button" (click)="reset(form)">Reset Button</button>
      </td>
    </tr>
  </table>
</form>
