<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
  <!-- <ul>
    <li *ngFor="let bk of softBooks | async">
      ID:{{bk.id}},Name:{{bk.name}},category:{{bk.category}}

    </li>
  </ul> -->

  <h5>This is Happing because of Async Pipe</h5>
  <!--Use oF Async Pipe-->
  <div *ngIf="softBooks | async as bk; else loading">
    ID:{{ bk.id }}, Name:{{ bk.name }},category:{{ bk.category }}
  </div>

  <ng-template #loading>
    <h1>Loading...</h1>
  </ng-template>

  <router-outlet></router-outlet>
</div>
