  <h1>
    Welcome to {{ title }}!
  </h1>
  <div>
    <h2> Country Name Search </h2>
    <input [formControl] = "term" >
    <hr>
    <div *ngIf="results.length > 0">
      <li *ngFor="let result of results">
        {{result.name}}
      </li>
    </div>
  </div>




  <!-- <input #term type="text" (keyup)="search(term.value)" >
    <hr>
    <div *ngIf="results.length > 0">
      <li *ngFor="let result of results">
        {{result.name}}
      </li>
    </div> -->

<router-outlet></router-outlet>
